[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
python-telegram-bot = "*"

[dev-packages]

[requires]
python_version = "3.13"
